/informe_paises.jasper
/informe_personas.jasper
/informe_personas3.jasper
/informe_personas1.jasper
/informe_personas2.jasper
/Graficos.jasper
/Productos.jasper
/Seccion.jasper
/TablaProductos.jasper
/informe_medico.jasper
